
#header{
    display: flex;
    width: 100%;
    height: 4.5em;
    background-color: #231123;
    position: relative;
}
.search{
    top: 1.25em;
    left: 4.5em;
    position: absolute;
    width: 150px;
    height: 2em;
    padding-left:10px ;
    border-radius:15px;
    background-color: transparent;
}
.search>input {
    position: relative;
    padding-left: 30px;
    color: #ccc;
    width: 80%;
    background: transparent;
    border: none;
    height: 2em;
    border-radius:15px;
    background-color: rgba(183, 97, 183, 0.397);
    outline: #9883e5;
}

.search::before {
    content: "";
    position: absolute;
    top: 3px;
    margin-left: 0px;
    width: 2em;
    height: 2em;
    /* top: 3px; */
    background: url("image/icons/search.png") no-repeat ;
    background-size: 80% 80%;
    border-right: #ccc;
  
  }
#searchBox>input{
    display: block;
    width: 8em;
    height: 2em;
    background-color: transparent;
    border-radius: 7px;
    border: none;
    color: #ccc;
    float: right;
}

/* #search>.searchIcon{
    display: block;
    position: absolute;
    background: url("image/icons/search.png") ;
    width: 24px;
    height: 24px;
    background-size: contain;
} */

#logo{
    position: relative;
    margin: auto;
    
}
#user{
    position: absolute;
    top:1.15em;
    right: 4.5em;
}